.container-t {
  padding-top: 40px;
  background-color: #123B4C;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 25px; 
  background-color: #3289B2;
  color: black;
}

.green {
  background-color: #63D7A1;
}

.yellow {
  background-color: #FBD066;
}

.red {
  background-color: #ED4B6E;
}

.title {
  color: white;
  font-size: 60px;
  text-align: center;
}